extends layouts/_page.jade
block content
	.page404
		.container
			.page404__content
				img.page404__content__img(src="img/404.png", alt="")
				h1.page404__title Ой, ошибка …
				.page404__desc Такой страницы не существует
				a.page404__link(href="") Перейти на главную страницу
