extends layouts/_page.jade
block content
	.articles
		.container
			.page__head
				.page__title Каталог материалов
			.articles__items
				//-articles__item
				.articles__item
					.articles__item__img
						img(data-src="img/articles__item.jpg", alt="")
					.articles__item__text
						.articles__item__title Слышимость в многоквартирных домах
						.articles__item__desc Тут существует несколько вариантов. Если, к примеру, мешает постоянная громкая музыка, можно попробовать договориться полюбовно. Это вообще лучший из способов, при условии, если все участники переговоров адекватны.Объясните, что у вас маленький ребенок, которому днем положено отдыхать, а вечером 
						a.articles__item__link(href="") Читать полностью
				//-articles__item
				.articles__item
					.articles__item__img
						img(data-src="img/articles__item.jpg", alt="")
					.articles__item__text
						.articles__item__title Слышимость в многоквартирных домах
						.articles__item__desc Тут существует несколько вариантов. Если, к примеру, мешает постоянная громкая музыка, можно попробовать договориться полюбовно. Это вообще лучший из способов, при условии, если все участники переговоров адекватны.Объясните, что у вас маленький ребенок, которому днем положено отдыхать, а вечером 
						a.articles__item__link(href="") Читать полностью
				//-articles__item
				.articles__item
					.articles__item__img
						img(data-src="img/articles__item.jpg", alt="")
					.articles__item__text
						.articles__item__title Слышимость в многоквартирных домах
						.articles__item__desc Тут существует несколько вариантов. Если, к примеру, мешает постоянная громкая музыка, можно попробовать договориться полюбовно. Это вообще лучший из способов, при условии, если все участники переговоров адекватны.Объясните, что у вас маленький ребенок, которому днем положено отдыхать, а вечером 
						a.articles__item__link(href="") Читать полностью
			ul.articles__pagenav
				li.articles__pagenav__prev
					a(href="")
				li.articles__pagenav__num.active
					a(href="") 1
				li.articles__pagenav__num
					a(href="") 2
				li.articles__pagenav__num
					a(href="") 3
				li.articles__pagenav__next
					a(href="")