extends layouts/_page.jade
block content
	.article
		.container
			.page__head
				.page__title Каталог материалов
			a.article__nav__all.article__nav__all__mobile(href="")
				img(src="img/article__nav__all.svg", alt="")
				.article__nav__all__title Все статьи портала
			.article__content
				.article__head
					.article__head__img(style="background-image: url(../img/article__head.jpg);")
					.article__head__title Фото новостроек с проблемами звукоизоляции
				p.p__bg Большинство жильцов квартир не понаслышке знают про звукоизоляцию квартир. И дело здесь кроется зачастую в низком её качестве, а то и в полном отсутствии. Это касается как новостроек, так и квартир на вторичном рынке.
				p Юридически звукоизоляция квартиры в панельном доме не относится к её недостаткам, что избавляет продавца от необходимости уведомления покупателя об этом. По всему выходит, что разнообразные шумы, спокойно проходящие сквозь стены, пол и потолок, являются личной проблемой жильцов.
				img(data-device="desctop" src="img/article__img.jpg", alt="")
				img(data-device="mobile" src="img/article__img__mobile.jpg", alt="")
				p Уровень шумо и звукопоглощения во многом зависит от конструктивных особенностей дома — и если только предстоит выбирать будущее жилье, рекомендуется внимательно ознакомиться с материалом.
				strong Советы при выборе квартиры
				p Большинство жильцов квартир не понаслышке знают про звукоизоляцию квартир. И дело здесь кроется зачастую в низком её качестве, а то и в полном отсутствии. Это касается как новостроек, так и квартир на вторичном рынке. Поэтомы мы рекомендуем:
				ul 
					li Осматривать состояние труб.
					li Выбрать надежного застройщика.
					li Навести справки о районе.
				.article__expert
					.article__expert__title Мнение эксперта
					blockquote 
						span.article__expert__quotes « 
						span Влажность в ванной диктует обязательной наличие качественной вентиляции во избежание быстрого разрастания грибковой плесени. Поэтому приступая к устройству звукоизоляции стен, необходимо обратить внимание на то, чтобы вентиляционные каналы оставались открытыми. В процессе вентиляции участвует, также, щель между полом и дверью или же специальное окошко в дверном полотне, поэтому закрывать их, добиваясь стопроцентной шумоизоляции, ни в коем случае нельзя.
						span.article__expert__quotes  » 
					.article__expert__footer
						.article__expert__footer__text
							.article__expert__footer__name Александр Некрасов
							.article__expert__footer__role Технический директор ООО «В ТИШИНЕ»
						button.btn Спросить эксперта
				.article__imgul
					.article__head
						.article__head__img(style="background-image: url(../img/article__head.jpg);")
						.article__head__title Фото панельных домов
					ul
						li —  теплопроводность (λ) в сухом состоянии — 0,0333 (Вт/м.К);
						li —  теплопроводность (λА) для условий эксплуатации «А» — 0,034 (Вт/м.К);
						li —  сопротивление паропроницанию (μ) — 0,087 (м2.ч.Па/мг);
						li —  влажность — 0,47 (% масс);
						li —  сорбционная влажность — 1,2 (% масс);
						li —  водопоглощение при частичном погружении — 49,5 (% объёма);
				p Большинство жильцов квартир не понаслышке знают про звукоизоляцию квартир. И дело здесь кроется зачастую в низком её качестве, а то и в полном отсутствии. Это касается как новостроек, так и квартир на вторичном рынке.
				p Юридически звукоизоляция квартиры в панельном доме не относится к её недостаткам, что избавляет продавца от необходимости уведомления покупателя об этом. По всему выходит, что разнообразные шумы, спокойно проходящие сквозь стены, пол и потолок, являются личной проблемой жильцов.
				img.article__separator(data-device="desctop" src="img/article__separator.svg", alt="")
				img.article__separator(data-device="mobile" src="img/article__separator__mobile.svg", alt="")
				p Юридически звукоизоляция квартиры в панельном доме не относится к её недостаткам, что избавляет продавца от необходимости уведомления покупателя об этом. По всему выходит, что разнообразные шумы, спокойно проходящие сквозь стены, пол и потолок, являются личной проблемой жильцов.
				.alert 
					.alert__icon
					.alert__text Если правильно подобрать «пирог» из современных материалов,  эффективность звукоизоляции возрастает от 45 до 90%.
						br
						span Обычно достаточно снизить громкость звуков в 2-3 раза, чтобы Вы перестали их замечать. 
				.article__nav
					a.article__nav__all(href="")
						img(src="img/article__nav__all.svg", alt="")
						.article__nav__all__title Все статьи портала
					a.article__nav__next Технология будущего в звукоизоляции



