extends layouts/_page.jade
block content
	.product
		.container
			.page__head
				.page__title Каталог материалов
			a.product__content__back.product__content__back__mobile(href="") 
				img(src="img/article__nav__all.svg", alt="")
				.product__content__back__title Вернуться в каталог
			.product__content
				.product__content__top
					.product__content__galery.owl-carousel
						.product__content__galery__item(data-thumb="img/product.jpg" style="background-image: url(../img/product.jpg)")
						.product__content__galery__item(data-thumb="img/product.jpg" style="background-image: url(../img/product.jpg)")
						.product__content__galery__item(data-thumb="img/product.jpg" style="background-image: url(../img/product.jpg)")
						.product__content__galery__item(data-thumb="img/product.jpg" style="background-image: url(../img/product.jpg)")
						.product__content__galery__item(data-thumb="img/product.jpg" style="background-image: url(../img/product.jpg)")
						.product__content__galery__item(data-thumb="img/product.jpg" style="background-image: url(../img/product.jpg)")
						.product__content__galery__item(data-thumb="img/product.jpg" style="background-image: url(../img/product.jpg)")
						.product__content__galery__item(data-thumb="img/product.jpg" style="background-image: url(../img/product.jpg)")
						.product__content__galery__item(data-thumb="img/product.jpg" style="background-image: url(../img/product.jpg)")
					.product__content__text
						.product__content__size (10м х 1.5м х 14мм) 15м2
						.product__content__price
							span 5 510 Р
							button.btn Заказать
						.product__content__specifications
							.product__content__specifications__title Основные характеристики
							ul 
								li —  теплопроводность (λ) в сухом состоянии — 0,0333 (Вт/м.К);
								li —  теплопроводность (λА) для условий эксплуатации «А» — 0,034 (Вт/м.К);
								li —  теплопроводность (λБ) для условий эксплуатации«Б» — 0,036 (Вт/м.К);
								li —  сопротивление паропроницанию (μ) — 0,087 (м2.ч.Па/мг);
								li —  плотность (γ) — 162,7 (кг/м3);
								li —  влажность — 0,47 (% масс);
								li —  сорбционная влажность — 1,2 (% масс);
								li —  водопоглощение при частичном погружении — 49,5 (% объёма);
								li —  показатель теплоусвоения (s) — 3,97 (Вт/м2.К);
								li —  деформативность при вдавливании (абсолютная деформация) — 2,3 (мм);
								li —  индекс (ΔLnw) улучшения изоляции ударного шума плавающей стяжкой с 
								li —  теплопроводность (λ) в сухом состоянии — 0,0333 (Вт/м.К);
								li —  теплопроводность (λА) для условий эксплуатации «А» — 0,034 (Вт/м.К);
				.product__content__oblasti
					.product__content__oblasti__title Области применения
					p ТермоЗвукоИзол нашел свое применение в качестве:
					ul 
						li —  Эффективной звукопоглощающей прокладки при устройстве «плавающих» стяжек в жилых и общественных зданиях, для защиты помещений от ударного шума;
						li —  Шумоизоляции межкомнатных перегородок для защиты от воздушных и виброакустических шумов;
						li —  Шумоизоляции подвесных потолков для защиты от ударного и воздушного шумов;
						li —  Подкровельной звукоизоляционной и вибропоглощающей прокладки;
						li —  Защитного звукоизолирующего слоя при устройстве чердачных перекрытий;
						li —  Шумоизолирующих и уплотняющих прокладок в деревянном каркасном домостроении;
						li —  Тепло-, шумо-, и виброизоляции внутренних трубопроводов отопления, водопровода и канализации;
						li —  Шумоизоляции коробов вентиляции и кондиционирования;
						li —  Звукоизолирующего слоя при устройстве вентилируемых фасадов
						li —  Шумопоглощающего и антиреверберационного слоя при устройстве стен, перегородок и потолков с студиях звукозаписи, домашних кинотеатрах,
				a.product__content__back.product__content__back__desktop(href="") 
					img(src="img/article__nav__all.svg", alt="")
					.product__content__back__title Вернуться в каталог
