extends layouts/_page.jade
block content
    .thanks
        .container
            .thanks__content
                h1.thanks__title Спасибо за Ваше обращение! 
                .thanks__desc Мы очень рады за проявленный интерес к нашим услугам! Сегодня менеджер обязательно свяжется с Вами и более подробно все расскажет.
                .thanks__request Ваш запрос: 
                    span «Обратный звонок»
                .thanks__alert
                    .thanks__alert__icon
                    .thanks__alert__text Обычно процесс занимает около 20 минут, если хотите провести время с пользой 
                .thanks__videoblock
                    .thanks__videoblock__youtube
                    iframe(width="100%" height="100%" src="https://www.youtube.com/embed/81NFxRa-VrA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                a.thanks__videoblock__link(href="") Смотрите новое видео
                .thanks__social
                    a.thanks__social__item(href="")
                        img(src="img/thanks__social-1.svg", alt="")
                    a.thanks__social__item(href="")
                        img(src="img/thanks__social-2.svg", alt="")
                    a.thanks__social__item(href="")
                        img(src="img/thanks__social-3.svg", alt="")
                    a.thanks__social__item(href="")
                        img(src="img/thanks__social-4.svg", alt="")