{% set title = 'Главная' %}

{% extends 'layouts/_page.html' %}

{% block content %}
<div class="articles">
        <div class="container">
          <div class="page__head">
            <div class="page__title">Каталог материалов</div>
          </div>
          <div class="articles__items">
            <div class="articles__item">
              <div class="articles__item__img"><img data-src="img/articles__item.jpg" alt=""/></div>
              <div class="articles__item__text">
                <div class="articles__item__title">Слышимость в многоквартирных домах</div>
                <div class="articles__item__desc">Тут существует несколько вариантов. Если, к примеру, мешает постоянная громкая музыка, можно попробовать договориться полюбовно. Это вообще лучший из способов, при условии, если все участники переговоров адекватны.Объясните, что у вас маленький ребенок, которому днем положено отдыхать, а вечером </div><a href="" class="articles__item__link">Читать полностью</a>
              </div>
            </div>
            <div class="articles__item">
              <div class="articles__item__img"><img data-src="img/articles__item.jpg" alt=""/></div>
              <div class="articles__item__text">
                <div class="articles__item__title">Слышимость в многоквартирных домах</div>
                <div class="articles__item__desc">Тут существует несколько вариантов. Если, к примеру, мешает постоянная громкая музыка, можно попробовать договориться полюбовно. Это вообще лучший из способов, при условии, если все участники переговоров адекватны.Объясните, что у вас маленький ребенок, которому днем положено отдыхать, а вечером </div><a href="" class="articles__item__link">Читать полностью</a>
              </div>
            </div>
            <div class="articles__item">
              <div class="articles__item__img"><img data-src="img/articles__item.jpg" alt=""/></div>
              <div class="articles__item__text">
                <div class="articles__item__title">Слышимость в многоквартирных домах</div>
                <div class="articles__item__desc">Тут существует несколько вариантов. Если, к примеру, мешает постоянная громкая музыка, можно попробовать договориться полюбовно. Это вообще лучший из способов, при условии, если все участники переговоров адекватны.Объясните, что у вас маленький ребенок, которому днем положено отдыхать, а вечером </div><a href="" class="articles__item__link">Читать полностью</a>
              </div>
            </div>
          </div>
          <ul class="articles__pagenav">
            <li class="articles__pagenav__prev"><a href=""></a></li>
            <li class="articles__pagenav__num active"><a href="">1</a></li>
            <li class="articles__pagenav__num"><a href="">2</a></li>
            <li class="articles__pagenav__num"><a href="">3</a></li>
            <li class="articles__pagenav__next"><a href=""></a></li>
          </ul>
        </div>
      </div>
      
{% endblock %}
      