{% set title = 'Главная' %}

{% extends 'layouts/_page.html' %}

{% block content %}

<div class="catalog">
        <div class="container">
          <div class="page__head">
            <div class="page__title">Каталог материалов</div>
            <ul class="page__head__nav">
              <li class="page__head__nav__active"> <a href="">Все</a></li>
              <li> <a href="">Панели</a></li>
              <li> <a href="">Мембраны</a></li>
              <li> <a href="">Минвата</a></li>
              <li> <a href="">Комплектующие</a></li>
              <li> <a href="">Комплектующие</a></li>
              <li> <a href="">Комплектующие</a></li>
              <li> <a href="">Комплектующие</a></li>
              <li> <a href="">Комплектующие</a></li>
              <li> <a href="">Комплектующие</a></li>
              <li> <a href="">Комплектующие</a></li>
            </ul>
            <select name="" class="page__head__nav__mobile">
              <option value="">Все</option>
              <option value="">Панели</option>
              <option value="">Мембраны</option>
              <option value="">Минвата</option>
              <option value="">Комплектующие</option>
            </select>
            <!--==========================page__head__cart==========================-->
            <div data-modal-link="cart" class="page__head__cart"><img src="img/cart.svg" alt="" class="page__head__cart__icon"/>
              <div class="page__head__cart__title">Корзина (134)</div>
            </div>
            <!--==========================END page__head__cart==========================-->
          </div>
          <div class="catalog__products">
            <div class="catalog__product"><a href="" class="catalog__product__img"></a><a href="" class="catalog__product__title">ТермоЗвукоИзол Стандарт</a>
              <div class="catalog__product__desc">(10м х 1.5м х 14мм) 15м2</div>
              <div class="catalog__product__bottom">
                <div class="catalog__product__price">5 510 Р</div>
                <button class="btn__border">Заказать</button>
              </div>
            </div>
            <div class="catalog__product"><a href="" class="catalog__product__img"></a><a href="" class="catalog__product__title">ТермоЗвукоИзол Стандарт</a>
              <div class="catalog__product__desc">(10м х 1.5м х 14мм) 15м2</div>
              <div class="catalog__product__bottom">
                <div class="catalog__product__price">5 510 Р</div>
                <button class="btn__border">Заказать</button>
              </div>
            </div>
            <div class="catalog__product"><a href="" class="catalog__product__img"></a><a href="" class="catalog__product__title">ТермоЗвукоИзол Стандарт</a>
              <div class="catalog__product__desc">(10м х 1.5м х 14мм) 15м2</div>
              <div class="catalog__product__bottom">
                <div class="catalog__product__price">5 510 Р</div>
                <button class="btn__border">Заказать</button>
              </div>
            </div>
            <div class="catalog__product"><a href="" class="catalog__product__img"></a><a href="" class="catalog__product__title">ТермоЗвукоИзол Стандарт</a>
              <div class="catalog__product__desc">(10м х 1.5м х 14мм) 15м2</div>
              <div class="catalog__product__bottom">
                <div class="catalog__product__price">5 510 Р</div>
                <button class="btn__border">Заказать</button>
              </div>
            </div>
            <div class="catalog__product"><a href="" class="catalog__product__img"></a><a href="" class="catalog__product__title">ТермоЗвукоИзол Стандарт</a>
              <div class="catalog__product__desc">(10м х 1.5м х 14мм) 15м2</div>
              <div class="catalog__product__bottom">
                <div class="catalog__product__price">5 510 Р</div>
                <button class="btn__border">Заказать</button>
              </div>
            </div>
            <div class="catalog__product"><a href="" class="catalog__product__img"></a><a href="" class="catalog__product__title">ТермоЗвукоИзол Стандарт</a>
              <div class="catalog__product__desc">(10м х 1.5м х 14мм) 15м2</div>
              <div class="catalog__product__bottom">
                <div class="catalog__product__price">5 510 Р</div>
                <button class="btn__border">Заказать</button>
              </div>
            </div>
            <div class="catalog__product"><a href="" class="catalog__product__img"></a><a href="" class="catalog__product__title">ТермоЗвукоИзол Стандарт</a>
              <div class="catalog__product__desc">(10м х 1.5м х 14мм) 15м2</div>
              <div class="catalog__product__bottom">
                <div class="catalog__product__price">5 510 Р</div>
                <button class="btn__border">Заказать</button>
              </div>
            </div>
            <div class="catalog__product"><a href="" class="catalog__product__img"></a><a href="" class="catalog__product__title">ТермоЗвукоИзол Стандарт</a>
              <div class="catalog__product__desc">(10м х 1.5м х 14мм) 15м2</div>
              <div class="catalog__product__bottom">
                <div class="catalog__product__price">5 510 Р</div>
                <button class="btn__border">Заказать</button>
              </div>
            </div>
            <div class="catalog__product"><a href="" class="catalog__product__img"></a><a href="" class="catalog__product__title">ТермоЗвукоИзол Стандарт</a>
              <div class="catalog__product__desc">(10м х 1.5м х 14мм) 15м2</div>
              <div class="catalog__product__bottom">
                <div class="catalog__product__price">5 510 Р</div>
                <button class="btn__border">Заказать</button>
              </div>
            </div>
            <div class="catalog__product"><a href="" class="catalog__product__img"></a><a href="" class="catalog__product__title">ТермоЗвукоИзол Стандарт</a>
              <div class="catalog__product__desc">(10м х 1.5м х 14мм) 15м2</div>
              <div class="catalog__product__bottom">
                <div class="catalog__product__price">5 510 Р</div>
                <button class="btn__border">Заказать</button>
              </div>
            </div>
            <div class="catalog__product"><a href="" class="catalog__product__img"></a><a href="" class="catalog__product__title">ТермоЗвукоИзол Стандарт</a>
              <div class="catalog__product__desc">(10м х 1.5м х 14мм) 15м2</div>
              <div class="catalog__product__bottom">
                <div class="catalog__product__price">5 510 Р</div>
                <button class="btn__border">Заказать</button>
              </div>
            </div>
            <div class="catalog__product"><a href="" class="catalog__product__img"></a><a href="" class="catalog__product__title">ТермоЗвукоИзол Стандарт</a>
              <div class="catalog__product__desc">(10м х 1.5м х 14мм) 15м2</div>
              <div class="catalog__product__bottom">
                <div class="catalog__product__price">5 510 Р</div>
                <button class="btn__border">Заказать</button>
              </div>
            </div>
          </div>
          <ul class="articles__pagenav">
            <li class="articles__pagenav__prev"><a href=""></a></li>
            <li class="articles__pagenav__num active"><a href="">1</a></li>
            <li class="articles__pagenav__num"><a href="">2</a></li>
            <li class="articles__pagenav__num"><a href="">3</a></li>
            <li class="articles__pagenav__next"><a href=""></a></li>
          </ul>
        </div>
      </div>
      

{% endblock %}
      