{% set title = 'Главная' %}

{% extends 'layouts/_page.html' %}

{% block content %}

 <div class="thanks">
        <div class="container">
          <div class="thanks__content">
            <h1 class="thanks__title">Спасибо за Ваше обращение! </h1>
            <div class="thanks__desc">Мы очень рады за проявленный интерес к нашим услугам! Сегодня менеджер обязательно свяжется с Вами и более подробно все расскажет.</div>
            <div class="thanks__request">Ваш запрос: <span>«Обратный звонок»</span></div>
            <div class="thanks__alert">
              <div class="thanks__alert__icon"></div>
              <div class="thanks__alert__text">Обычно процесс занимает около 20 минут, если хотите провести время с пользой </div>
            </div>
            <div class="thanks__videoblock">
              <div class="thanks__videoblock__youtube"></div>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/81NFxRa-VrA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
            </div><a href="" class="thanks__videoblock__link">Смотрите новое видео</a>
            <div class="thanks__social"><a href="" class="thanks__social__item"><img src="img/thanks__social-1.svg" alt=""/></a><a href="" class="thanks__social__item"><img src="img/thanks__social-2.svg" alt=""/></a><a href="" class="thanks__social__item"><img src="img/thanks__social-3.svg" alt=""/></a><a href="" class="thanks__social__item"><img src="img/thanks__social-4.svg" alt=""/></a></div>
          </div>
        </div>
      </div>
      

{% endblock %}
     